<div id="sidepanel">


  <div id="profile" class=" card-title ">
    <h5>All Users</h5>

  </div>

  <div id="contacts">
    <ul>

      <li class="contact" *ngFor="let contact of contacts" role="button" (click)="getConversation(contact._id)">
        <div class="wrap">
          <span class="contact-status online"></span>
          <img src="../../../assets/images/app-pers.jpg" alt="" />
          <div class="meta">
            <p class="name">{{contact.firstName}} {{contact.lastName}} </p>
            <p class="preview">{{contact._id}}</p>
          </div>
        </div>
      </li>






    </ul>


    <h5></h5>




  </div>

</div>
