


<div class="row">
    <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
            <img src="../../../assets/images/subchat-logo.png" alt="">
        </div>
    </div>
    <div class="form-holder">
        <div class="form-content">


<div class="form-items">
    <h3>Register now and try subchat</h3>
    <p>register with your information</p>
    <div class="page-links">
        <a routerLinkActive="active"  [routerLink]="['/login']">Login</a>
        <a routerLinkActive="active" class="active" [routerLink]="['/register']">Register</a>
    </div>
    <form [formGroup]="registerForm" (submit)="onRegister()">
    
        

        <div class="form-group">
            <input class="form-control" type="text" placeholder="First Name" [(ngModel)]="firstName" required
            name="firstName" formControlName="firstName"
            [ngClass]="{'is-invalid': submitted && registerForm.get('firstName').errors}" />

            <div *ngIf=" submitted && registerForm.get('firstName').errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('firstName').errors.required">First Name is required ..</div>
            </div>
        </div>


        <div class="form-group">
          <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]="lastName" required
            name="lastName" formControlName="lastName"
            [ngClass]="{'is-invalid': submitted && registerForm.get('lastName').errors}" />

            <div *ngIf="submitted &&  registerForm.get('lastName').errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('lastName').errors.required">Last  Name is required ..</div>
            </div>

        </div>
       
        <div class="form-group">
        <input class="form-control" 
               type="email" 
               placeholder="E-mail Address" 
               [(ngModel)]="email" 
               required 
               name="email" 
               formControlName="email"
            [ngClass]="{'is-invalid': submitted && registerForm.get('email').errors}" />
            

            <div *ngIf=" submitted &&  registerForm.get('email').errors" class="invalid-feedback" >
            <span *ngIf="registerForm.get('email').errors.required" > Email is required .. </span>
            <span *ngIf="registerForm.get('email').errors.email" > You must enter valid email address</span>
             </div>
       
        </div>

        <div class="form-group">
        <input class="form-control" 
               type="password"  
               placeholder="Password"  
               [(ngModel)]="password" 
               required 
               name="password"
               formControlName="password"
               [ngClass]="{'is-invalid': submitted &&  registerForm.get('password').errors}" />
               
               <span class="invalid-feedback"> Password must be at least 6 characters  </span>
        

            </div>

        <div class="form-button">
            <button id="submit" type="submit" class="ibtn" >Register</button>
        </div>
       
    </form>


    <div>
        <h4>{{message}}</h4>
    </div>
</div>

</div>
</div>
</div>

